<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Gradre!</h1>
    <p>Gradeはあなたの夢を叶えるためのサービスです。</br>Gradreで仲間と共に夢を叶えよう！</p>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
